.loading-icon {
  /* variables */
  --main-size: 40px;
  --item-color: #000000;

  width: var(--main-size);
  height: var(--main-size);
  display: inline-block;
  position: relative;
}
.loading-icon > div {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-icon > div > div {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  --this-deg: 0deg;
  transform: rotate(var(--this-deg));
  animation: div-body-animation 5s linear 0ms infinite normal both;
}
.loading-icon > div > div > div {
  width: 0;
  height: 0;
  --circle-width: calc(var(--main-size) / 7);
  --circle-height: calc(var(--main-size) / 7);
}
.loading-icon > div > div > div > div {
  width: var(--circle-width);
  height: var(--circle-height);
  display: block;
  background-color: var(--item-color);
  border-radius: calc(var(--main-size) * 10);
  position: absolute;
  top: calc(var(--circle-height) / -2);
  left: calc(var(--circle-width) / -2);
  transform: translateY(calc((var(--main-size) / -2) + calc(var(--circle-width) / 2)))
}

.loading-icon > div > div > div:nth-child(1) {
  --this-deg: 0deg;
  transform: rotate(var(--this-deg));
  animation: div-animation 4s cubic-bezier(.17,.67,.45,.99) 500ms infinite normal both;
}
.loading-icon > div > div > div:nth-child(2) {
  --this-deg: 30deg;
  transform: rotate(var(--this-deg));
  animation: div-animation 4s cubic-bezier(.17,.67,.45,.99) 440ms infinite normal both;
}
.loading-icon > div > div > div:nth-child(3) {
  --this-deg: 60deg;
  transform: rotate(var(--this-deg));
  animation: div-animation 4s cubic-bezier(.17,.67,.45,.99) 360ms infinite normal both;
}
.loading-icon > div > div > div:nth-child(4) {
  --this-deg: 90deg;
  transform: rotate(var(--this-deg));
  animation: div-animation 4s cubic-bezier(.17,.67,.45,.99) 260ms infinite normal both;
}
.loading-icon > div > div > div:nth-child(5) {
  --this-deg: 120deg;
  transform: rotate(var(--this-deg));
  animation: div-animation 4s cubic-bezier(.17,.67,.45,.99) 140ms infinite normal both;
}
.loading-icon > div > div > div:nth-child(6) {
  --this-deg: 150deg;
  transform: rotate(var(--this-deg));
  animation: div-animation 4s cubic-bezier(.17,.67,.45,.99) 0ms infinite normal both;
}

@keyframes div-body-animation {
  0% {
    transform: rotate(var(--this-deg));
  } 
  100% {
    transform: rotate(calc(var(--this-deg) + 360deg));
  }
}
@keyframes div-animation {
  0% {
    transform: rotate(var(--this-deg));
  }
  33% {
    transform: rotate(calc(var(--this-deg) + 120deg));
  }
  66% {
    transform: rotate(calc(var(--this-deg) + 240deg));
  }
  100% {
    transform: rotate(calc(var(--this-deg) + 360deg));
  }
}